html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-color: #212121;
  --secondary-color: #2196f3;
  --buttons-color: #f5f4fa;
  --contacts-color: #757575;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}

/* Хэдер */

.header {
  background-color: var(--background-color);
  border: 1px solid rgba(236, 236, 236, 1);
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo:hover {
  color: var(--secondary-color);
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-right: 93px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--secondary-color);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.logo-header {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--primary-color);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-functio);
}

.logo-header:hover {
  color: var(--secondary-color);
}

.header .link.current.studio:hover,
.header .link.current.studio:focus {
  color: var(--secondary-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--secondary-color);
}

.link-mail {
  text-decoration: none;
  color: var(--contacts-color);
}

/* Навигация */

.item .current {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
}

.item .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.item .studio {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
}

.item .studio::after {
  content: "";
  position: absolute;
  left: 0;
  top: 46px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--primary-color);
}

.site-nav .link.studio {
  color: rgba(33, 150, 243, 1);
}

.site-nav.list {
  display: flex;
  width: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.site-nav .list:not(first-child) {
  color: var(--secondary-color);
}

.site-nav .item {
  /* padding-top: 30px;
  padding-bottom: 30px; */
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.studio .link {
  color: var(--secondary-color);
}

.portfolio {
  color: var(--primary-color);
}

/* Навигация */

.auth-nav.list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 100%;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .mail {
  margin-right: 0px;
  margin-left: 0px;
}
.a.link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .tel {
  margin-right: 0px;
  margin-left: 50px;
}

.header__link__mail,
.header__link__tel {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
  gap: 10px;
  text-decoration: none;
  color: var(--contacts-color);
}

.item .auth-nav {
  padding-top: 31px;
  padding-bottom: 31px;
  display: flex;
  justify-content: center;
}
.auth-nav .item + .item {
  margin-left: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__link__mail:focus,
.header__link__mail:hover {
  color: var(--secondary-color);
}

.header__link__tel:focus,
.header__link__tel:hover {
  color: var(--secondary-color);
}

.tech__link {
  fill: currentColor;
}

/* Герой */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-size: contain;
  padding-top: 0px;
  padding-bottom: 94px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/шапка.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
}

.box-text {
  padding-top: 200px;
  text-align: center;
  max-width: 696px;
  margin: auto;
}

.text {
  padding: 0px 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  color: var(--background-color);
}

.hero-batton {
  display: flex;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 696px;
  margin: auto;
  padding: 200px 0px;
}

/* hero button */

.button-one {
  width: 216px;
  height: 50px;
  border-radius: 4px;

  /* display: flex; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 32px;
  text-align: center;
  border: transparent;

  text-decoration: none;

  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 6%;
  color: var(--background-color);

  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Описание преимуществ */

.list-item {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box-works-item::before {
  display: block;
  content: "";
  height: 120px;
  background: var(--buttons-color);
  background-image: url(../images/attentionmin.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.box-works-item:nth-child(2)::before {
  background-image: url(../images/oclockmin.svg);
}
.box-works-item:nth-child(3)::before {
  background-image: url(../images/planningmin.svg);
}
.box-works-item:nth-child(4)::before {
  background-image: url(../images/technologymin.svg);
}

.text-list {
  font-weight: bold;
  line-height: 1.14;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-script {
  font-size: 14px;
  line-height: 1.72;
  color: var(--contacts-color);
}

.section-title-picture {
  width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
}

.section.works {
  padding-top: 0;
}

/* Чем мы занимаемся */

.text-main {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.list-item {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
}

.works-images {
  display: flex;
}

.works-images-text {
  display: flex;
  justify-content: center;
  width: 370px;
  height: 70px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);

  align-items: center;
  position: absolute;
  transform: translate(0, 223px);

  background: rgba(47, 48, 58, 0.8);
  opacity: 0.95;
  z-index: 1;
}

/* Наша команда */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--buttons-color);
}

.cards {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.list-item {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  text-align: center;
  color: var(--primary-color);
}

.text-job {
  font-size: 16px;
  line-height: 1.9;
  font-style: normal;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--contacts-color);
}

.social__list {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
  color: rgba(175, 177, 184, 1);
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.social__item:hover,
.social__item:focus {
  background-color: var(--secondary-color);
}
.social__item:hover .social__icon {
  fill: var(--background-color);
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;

  width: 20px;
  height: 20px;
  background-position: 50%;

  color: rgb(26, 178, 195);
  fill: rgba(175, 177, 184, 1);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Наши клиенты */

.our__clients {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients__size {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client__cards {
  width: 170px;
  height: 92px;
  /* border-radius: 4px; */
}

.client__label {
  fill: currentColor;
}

.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  width: 100%;
  height: 100%;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover,
.client__item:focus {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* Footer */

.cont__footer {
  display: flex;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer .accent-footer:focus,
.logo-footer .accent-footer:hover {
  color: var(--secondary-color);
}

.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.accent-footer {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.map:focus,
.map:hover {
  color: var(--secondary-color);
}

.map {
  display: inline-block;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.mail-footer {
  display: inline-block;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 9px;
  color: var(--contacts-color);
}

.tel-footer:focus,
.tel-footer:hover {
  color: var(--secondary-color);
}

.mail-footer:focus,
.mail-footer:hover {
  color: var(--secondary-color);
}

.footer__join {
  margin-left: 70px;
}

.footer__social {
  margin: 0;
}

.footer__title {
  color: var(--background-color);
  margin-bottom: 20px;
}

.social__item__footer:hover,
.social__item__footer:focus {
  background-color: #f3212f;
}
.social__item__footer:hover .social__icon {
  fill: #ffffff;
}
.social__item__footer {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.container-wrap {
  display: flex;
  align-items: baseline;
}

/* Присоединяйтесь */

.footer__title__list {
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}

.footer__title__mail {
  display: inline-block;
  padding-bottom: 20px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.field__footer {
  display: flex;
}

.field__input__footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.field__input__footer::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 30px;

  color: rgba(255, 255, 255, 0.6);
}

.button__footer {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  padding: 10px 28px;

  justify-content: space-between;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.twitter__flight {
  fill: currentColor;
}

/* Портфолио */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-box {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 50px;
  gap: 8px;
}

.button-nav {
  margin-bottom: 0px;
}

.social__item:hover,
.social__item:focus {
  background-color: var(--secondary-color);
}

.buttons {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  background: var(--buttons-color);
  border: transparent;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.buttons:hover,
.buttons:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  transition-property: var(--background-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--background-color);
}

.blue .buttons:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.blue {
  background: var(--secondary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.62;
  color: var(--background-color);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.blue:hover,
.blue:focus {
  border-radius: 4px;
  color: var(--background-color);
}

/* Картинки */

.section_title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section__title__card {
  flex-basis: calc((100% - 30px * 2) / 3);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.section__title__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.section__title__card:hover .text__overlay {
  transform: translateY(0);
}

.link:focus .text__overlay {
  transform: translateY(0);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-paragraf {
  position: absolute;

  width: 100%;
  height: 100%;
  /* top: 0; */
  bottom: 0;
  padding: 63px 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: var(--background-color);

  letter-spacing: 0.03em;
  color: var(--background-color);
  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.section__title__card:hover .product-paragraf {
  transform: translateY(0);
}

.card-signature {
  display: block;
  outline: 1px solid #eeeeee;
  text-align: left;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.text-image {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  padding-bottom: 4px;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.text-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--contacts-color);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.place__portfolio {
  margin-bottom: 94px;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;

  border-radius: 4px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal__close:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.modal__close:hover .close__icon {
  fill: currentColor;
}

/* form */

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.label {
  display: block;
  padding-top: 10px;
  padding-bottom: 2px;
}
.label__text {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  color: #757575;
}
.field {
  position: relative;
}
.field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.field__input:hover,
.field__input:focus {
  border-color: var(--secondary-color);
}

.field__input:hover + .field__icon,
.field__input:focus + .field__icon {
  fill: var(--secondary-color);
}

.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.input:focus {
  border-color: var(--secondary-color);
}

.field__input {
  padding: 11px 15px 11px 32px;
}

.field__input:focus {
  border-color: var(--secondary-color);
}

.message {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}
.message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* checkbox */

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 13px;
}
.checkbox {
  position: absolute;
  appearance: none;
}

.checkbox:checked ~ .checkbox__icon {
  background-image: url("../images/chekboxblue.svg") url("../images/v.svg");
  background-size: 16px 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}

.privacy__wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 14px;
  border: 1px solid;
  border-radius: 2px;
}
.checkbox__icon {
  display: inline-block;

  width: 16px;
  height: 15px;

  border-radius: 4px;
  cursor: pointer;
}

.privacy__text {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.privacy__link {
  color: var(--secondary-color);
}

.button__modal__block {
  display: flex;
  justify-content: center;
  height: 50px;
}
.button__modal {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;

  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 52px;
  text-align: center;

  font-weight: 700;

  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
